@charset "utf-8";
/* CSS Document */
	body {
						font-family: 'THSarabunNew', sans-serif;
				}
				h1 {
						font-family: 'THSarabunNew', sans-serif;
				}
				h2 {
						font-family: 'THSarabunNew', sans-serif;
				}
				h3 {
						font-family: 'THSarabunNew', sans-serif;
				}
				h4 {
						font-family: 'THSarabunNew', sans-serif;
				}
				div {
						font-family: 'THSarabunNew', sans-serif;
				}
				span {
						font-family: 'THSarabunNew', sans-serif;
				}

